#faq li {
  list-style: none;
}

#faq li div {
  background-color: #ccc;
  padding: 0 2rem;
  font-size: 0.85em;
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}

#faq li.act div {
  max-height: 200px;
  padding: 2rem;
}

